<div class=" panel panel-success creditObj">
	<div class="panel-heading">
		<h4><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;{{credit}}</h4>
	</div>
	<div class="panel-body">
		<div class="media" ng-repeat="creditObj in movie.movieDetails[credit]">
			<div class="media-left">
				<img ng-if="creditObj.profile_path" class="media-object" src="{{movie.movieConfig.imgServer + movie.movieConfig.verysmall + creditObj.profile_path}}" alt="IMAGE" />
				<img ng-if="!creditObj.profile_path" class="media-object silkhoitte" src="resources/silkhoitte.svg" />
			</div>
			<div class="media-body" ng-switch on="credit">
				<h4 ng-switch-when="cast" class="media-heading">{{creditObj.name}}</h4>
				<p ng-switch-when="cast"> as {{creditObj.character}}</p>
				<h4 ng-switch-when="crew" class="media-heading">{{creditObj.job}}</h4>
				<p ng-switch-when="crew">{{creditObj.name}}</p>
			</div>
		</div>
	</div>
</div>
